* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.top-header {
    width: 100%;
    background: #14164A;
    padding: 25px;
}
.mobile-logo {
    display: none;
}

.top-header ul {
    display: flex;
    padding: 6px;
    list-style-type: none;
    justify-content: space-between;
}

.top-header ul li {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

}
.top-nav-left-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-nav-left-links a {
    text-decoration: none;
    color: white;
}
  .single-search input {
  padding: 10px 5px;
  border-radius: 20rem;
  border: none;
  }
  input:focus {
    outline: none;
  }

.book-categories {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    display: inline;
    list-style: none;
    color: rgba(103, 102, 102, 0.99);
}

.book-categories ul li {
    list-style: none;
}
ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    padding: 15px;
}
.book-categories a:hover {
    color: yellow;
}
.book-grid {
    width: 90%;
    height: 450px;
    background-color: #FFFEFE;;
    padding-left: 70px;
    margin-left: 45px;
}

.book-grid h1 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
}
.book-grid h2 {
    margin-bottom: 350px;
    font-size: 18px;
}

.row {
    display: flex;
    margin-top: 20px;
    margin-left: 150px; 
    gap: 30px;
    align-items: center;
}

.wrapper {
    padding: 5px;
    flex-basis: 15%;
}
.row-two {
    display:flex; 
    align-items: center;
    justify-content:space-around;
    margin-right:15%;
    
}
@media (max-width:767px) {
    .Main-logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        margin-bottom: 20px;
    }
    .top-header ul li {
        font-weight: 200;
        font-size: 1rem;
        text-align: center;

    }

    .top-nav-left-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single-search input {
        padding: 5px;
    }
    ul {
        flex-direction: column;
        justify-content: center;
    }
    .book-grid h1 {
        font-size: 1.5rem;
        margin-right: 30%;
    }
    .book-grid h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    
    .row {
        flex-direction: column;
        padding-right: 45%;
        margin-left: 0;
    }
    
    .wrapper {
        padding: 5px;
    }
    .row-two {
        flex-direction: column;
        margin-left: 0;
        padding-right: 45%;
    }
    
}
@media screen and (min-width:768px)and (max-width:1200px) {
    .Main-logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        margin-bottom: 20px;
    }
    .top-header ul li {
        font-weight: 200;
        font-size: 1rem;
        text-align: center;

    }

    .top-nav-left-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single-search input {
        padding: 5px;
    }
    ul {
        justify-content: center;
    }
    
    .book-grid h1 {
        font-size: 1.5rem;
        margin-left: 15%;
    }
    .book-grid h2 {
        padding-left: 0%;
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    
    .row {
        justify-content: center;
        flex-direction: column;
        margin-right: 40%;
    }
    
    .wrapper {
        padding: 5px;
    }
    .row-two {
        flex-direction: column;
        justify-content: center;

    }

}