* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    align-items: center;
}
.top-header {
    width: 100%;
    height: 90px;
    background: #14164A;
    padding: 15px;
    padding-left: 10px;
}

.top-header ul {
    display: flex;
    padding: 6px;
    list-style-type: none;
    justify-content: space-between;
}

.top-header ul li {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

}

.top-nav-left-links a {
    text-decoration: none;
    color: white;
}
.single-search{
    background-color: #FFFEFE;
    width: 105px;
    height: 38px;
    border-radius: 30px;
  }
  
  .single-search input {
    all: unset;
    font: 13px;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
  }
  
  .container {
      height: 100%;
      width: 100%;
  }
  
  .top-line {
      background-color: #14164A;
      height: 126px;
  }
  
  .top-line h1 {
      padding: 40px 100px ;
      font-weight: 700;
      font-size: 30px;
      color: #F8D937C9;
      -webkit-text-stroke: 1px #000;
  }
  
  .split-left {
      position: fixed;
      height: 100%;
      width: 50%; 
  }
  
  .split-left {
      background-color: #FFFEFE;
  }
  
  .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .title{
      padding: 25px;
      width: 550px;
  }
  
  .account-log{
      font-weight: 400;
      font-size: 10px;
  }
  .account-log a {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 10px;
      color: #000;
      text-decoration: none;
  }
  
  .checkbox {
      font-family: 'Inter', sans-serif;
      font-size: 10px;
      margin-bottom: 20px;
  }
  
  .address {
      font-family: 'Inter', sans-serif;
      font-size: 15px;
      font-weight: 700;
  }
  
  .contact-form{
      margin-top: 15px;
  }
  
  .contact-form .input-fields{
      margin-bottom: 10px;
  }
  
  ::placeholder {
      color: #000;
      opacity: 0.8; 
  }
  
  .contact-form .contact-con{
      display: flex;
      justify-content: space-between;
  }
  
  .contact-form  input[type="text"]{
      width: 100%;
      border: 1px solid #000;
      background-color: #FFFEFE;
      padding: 5px;
      outline: none;
  }
  
  .contact-form .submit-button{
      display: flex;
      width: 161px;
      height: 42px;
      font-size: 15px;
      background:#F8D937C9;
      border: none;
      border-radius: 20px;
      padding: 12px;
      margin-left: 30%;
      margin-top: 23px;
      cursor: pointer;
  }
  
  .contact-form .submit-button :hover{
      background: #ffd5d2;
  }
  
  
  .back a {
      font-size: 14px;
      color: #000;
      text-decoration: none;
  }
  
  .split-right {
      margin-left: 50px;
      background-color:#E7E5E5E8;
  }
  
  .split-right h1 {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 14px;
      margin-top: 40px;
      margin-left: 40px;
  }
  
  .box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      padding-right: 150px;
  }
    
  .image img {
      max-width: 100%
    }
  
  .image p {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      margin-left: 20px;
  }
      
  .text {
      font-size: 16px;
      text-align: center;
      padding-left: 20px;
  }
  
  .memo p {
      font-size: 14px;
      color:#E40606;
      text-align: center;
      margin-top: 160px;
  }