* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
  }
  body {
    align-items: center;
}
  .top-line {
      background-color: #14164A; 
      height: auto;
  }
  
  .top-line h1 {
      padding: 40px 100px ;
      font-weight: 700;
      font-size: 1.8rem;
      color: #F8D937C9;
      -webkit-text-stroke: 1px #000;
  }
  
  .split-left { 
      width: 50%; 
  }
  .form-box h4 {
    font-size: 1.5rem;
  }
  
  .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
  }
.form-box p {
    text-align: right;
}

.log {
    justify-content: flex-end;
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

input[type=text] {
    width: 81%;
    margin-bottom: 2%;
    padding: 1%;
    /*border: 1px solid #ccc;
    border-radius: 3px; */
}

.checkbox {
    border: 1px solid #ccc;
    border-radius: 3px
}

.address {
    margin-top: 3%;
    font-weight: bold;
    font-size: 1.2rem;
}

input[type=name] {
    width: 40%;
    padding: 1%;
    justify-content: space-around;
}

input[type=city] {
    width: 81%;
    padding: 1%;
    /* margin-bottom: 2%; */
    margin-top: 2%;
}

input[type=country] {
    width: 36%;
    padding: 1%;
    margin-top: 2%;
}

input[type=zip] {
    padding: 1%;

}

input[type=phone] {
    width: 81%;
    padding: 1%;
    margin-top: 2%;
}

button {
    font-size: 19px;
    width: 30%;
    height: 47px;
    border: none;
    border-radius: 20px;
    background: #F8D937C9;
    margin-top: 5%;
    margin-left: 25%;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
}
  
  .split-right {
      background-color:#E7E5E5E8;
      position: fixed;
      padding-right: 23.7%; 
      margin-left: 100%;
      padding-bottom: 18%;
      padding-top: 20%;
  }
  
  .split-right h1 {
      font-weight: bold;
      font-size: 1.3rem;
      margin-top: 40px;
      margin-left: 40px;
      color: black;
  }
  .box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      padding-right: 150px;
  }
    
  .image img {
      max-width: 100%
    }
  
  .image p {
    
      font-size: 1.2rem;
      margin-left: 20px;
      color: black;
  }
      
  .text {
      font-size: 1.2rem;
      text-align: center;
      padding-left: 20px;
      color: black;
  }
  
  .memo p {
      font-size: 14px;
      color:#E40606;
      text-align: center;
      margin-top: 160px;
  }
  @media (max-width:767px) {
    .top-line {
        width: 100%;
    }
    
    .top-line h1 {
        padding: 40px 100px ;
        font-weight: 700;
        font-size: 1.8rem;
        color: #F8D937C9;
        -webkit-text-stroke: 1px #000;
    }
    
    .split-left { 
        position: static;
        width: 100%; 
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  .form-box p {
      text-align: right;
  }
  
  .log {
      justify-content: flex-end;
      display: flex;
      color: black;
      text-decoration: none;
      font-weight: bold;
  }
  
  input[type=text] {
      width: 81%;
      margin-bottom: 2%;
      padding: 1%;
      /*border: 1px solid #ccc;
      border-radius: 3px; */
  }
  
  .checkbox {
     margin-left: 10%;
  }
  
  .address {
      margin-left: 10%;
      font-size: 1.2rem;
  }
  .input-fields {
    padding-left: 10%;
  }
  input[type=name] {
      width: 40%;
      padding: 1%;
      justify-content: space-around;
  }
  
  input[type=city] {
      width: 81%;
      padding: 1%;
      /* margin-bottom: 2%; */
      margin-top: 2%;
  }
  
  input[type=country] {
      width: 36%;
      padding: 1%;
      margin-top: 2%;
  }
  
  input[type=zip] {
      padding: 1%;
  
  }
  
  input[type=phone] {
      width: 81%;
      padding: 1%;
  }
  
  button {
      font-size: 19px;
      width: 30%;
      height: 47px;
      border: none;
      border-radius: 20px;
      background: #F8D937C9;
      margin-top: 5%;
      margin-left: 25%;
      cursor: pointer;
  }
  .split-right {
    display: none;
  }

  }

@media screen and (min-width: 768px)and (max-width: 1200px){
    .top-line {
        width: 100%;
    }
    
    .top-line h1 {
        padding: 40px 100px ;
        font-weight: 700;
        font-size: 1.8rem;
        color: #F8D937C9;
        -webkit-text-stroke: 1px #000;
    }
    
    .split-left { 
        position: static;
        width: 100%; 
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  .form-box p {
      text-align: right;
  }
  
  .log {
      justify-content: flex-end;
      display: flex;
      color: black;
      text-decoration: none;
      font-weight: bold;
  }
  
  input[type=text] {
      width: 81%;
      margin-bottom: 2%;
      padding: 1%;
      /*border: 1px solid #ccc;
      border-radius: 3px; */
  }
  
  .checkbox {
     margin-left: 10%;
  }
  
  .address {
      margin-left: 10%;
      font-size: 1.2rem;
  }
  .input-fields {
    padding-left: 10%;
  }
  input[type=name] {
      width: 40%;
      padding: 1%;
      justify-content: space-around;
  }
  
  input[type=city] {
      width: 81%;
      padding: 1%;
      /* margin-bottom: 2%; */
      margin-top: 2%;
  }
  
  input[type=country] {
      width: 36%;
      padding: 1%;
      margin-top: 2%;
  }
  
  input[type=zip] {
      padding: 1%;
  
  }
  
  input[type=phone] {
      width: 81%;
      padding: 1%;
  }
  
  button {
      font-size: 19px;
      width: 30%;
      height: 47px;
      border: none;
      border-radius: 20px;
      background: #F8D937C9;
      margin-top: 5%;
      margin-left: 25%;
      cursor: pointer;
  }
  .split-right {
    display: none;
  }
}