* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.top-header {
    width: 100%;
    background: #14164A;
    padding: 25px;
}

.mobile-logo {
    display: none;
}

.slim-bar {
    width: 100%;
    height: 20px;
    background: #4A4446;
}

.top-header ul {
    display: flex;
    padding: 6px;
    list-style-type: none;
    justify-content: space-between;
}

.top-header ul li {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

}

.top-nav-left-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.single-search input {
    padding: 10px 5px;
    border-radius: 20rem;
    border: none;
}


input:focus {
    outline: none;
}

.top-nav-left-links a {
    text-decoration: none;
    color: white;
}

.yellow-box {
    width: 100%;
    height: 145px;
    text-align: center;
    background: rgba(248, 217, 55, 0.79);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    /* line-height: 54px; */
    -webkit-text-stroke: .5px white ;


    color: black;

}

.images-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.images-row img {
    width: 100%;
}

.blue-box {
    width: 100%;
    height: 300px;
    background: rgba(20, 22, 74, 0.81);
    text-align: center;
    padding: 25px;
}

.blue-box p {
    font-size: 60px;
    font-weight: 400px;
    color: yellow;

}

.blue-box p2 {
    font-size: 25px;
    color: white;
}


/* media queries */
@media (max-width: 767px) {

    .Main-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        margin-bottom: 20px;
    }

    .slim-bar {
        width: 100%;
    }

    .top-header ul li {
        font-weight: 200;
        font-size: 1rem;
        text-align: center;

    }

    .top-nav-left-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single-search input {
        padding: 5px;
    }

    h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 6vw;
        /* line-height: 54px; */
        -webkit-text-stroke: .5px black;


        color: #FFFEFE;

    }

    .blue-box p {
        font-size: 7vw;
        font-weight: 400px;
        color: yellow;

    }

    .blue-box p2 {
        font-size: 2vw;
        color: white;
    }

}

@media screen and (min-width: 768px)and (max-width: 1200px) {
    .Main-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        margin-bottom: 20px;
    }

    .slim-bar {
        width: 100%;
    }

    .top-header ul li {
        font-weight: 200;
        font-size: 1rem;
        text-align: center;

    }

    .top-nav-left-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single-search input {
        padding: 5px;
    }

    h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 6vw;
        /* line-height: 54px; */
        -webkit-text-stroke: .5px black;


        color: #FFFEFE;

    }

    .blue-box p {
        font-size: 7vw;
        font-weight: 400px;
        color: yellow;

    }

    .blue-box p2 {
        font-size: 2vw;
        color: white;
    }

}