* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    align-items: center;
    background-image: url("../images/download.jpg");
    background-size: 100%;
}
.top-header {
    width: 100%;
    background: #14164A;
    padding: 25px;
}

.mobile-logo {
    display: none;
}
.top-header ul {
    display: flex;
    padding: 6px;
    list-style-type: none;
    justify-content: space-between;
}

.top-header ul li {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

}

.top-nav-left-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.single-search input {
    padding: 10px 5px;
    border-radius: 20rem;
    border: none;
}


input:focus {
    outline: none;
}

.top-nav-left-links a {
    text-decoration: none;
    color: white;
}

.container {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: auto;
    border: 1px solid;

}

.welcome {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    font-weight: 200;
    font-size: 2rem;
    /* line-height: 275px; */
    color: yellow;
    -webkit-text-stroke: 1px black;
}

p {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;

}

.login-box {
    /* position: absolute; */
    width: 30%;
    height: 500px;
    background-color: white;
    /* color: white; */
    box-sizing: border-box;
    margin: 1px auto;
    /* margin-right: 35%; */

}

.login-box input {
    margin-bottom: 20px;
    width: 80%;
    margin-left: 25px;
    margin-top: 20px
}

.login-box input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    background: transparent;
    outline: none;
    height: 40px;
    border-radius: 5px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: black;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px;
    justify-items: left;
    width: 40%;
}
a.button{
    border: none;
    outline: none;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px;
    /* justify-items: left; */
    width: 40%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 6%;
    /* margin-top: 20px; */  
}
@media (max-width: 767px) {
    .Main-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        margin-bottom: 20px;
    }
    .top-header ul li {
        font-weight: 200;
        font-size: 1rem;
        text-align: center;

    }

    .top-nav-left-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single-search input {
        padding: 5px;
    }
    .container {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: auto;
        border: 1px solid;
    
    }
    
    .welcome {
        height: auto;
        font-size: 2rem;
    }
    
    p {
        display: flex;
        font-size: 1.1rem;
        font-weight: bold;
    
    }
    
    .login-box {
        /* position: absolute; */
        width: 70%;
        background-color: white;
        /* color: white; */
        box-sizing: border-box;
        margin: 1px auto;
    
    }
    
    .login-box input {
        margin-bottom: 20px;
        width: 80%;
    }
    
    .login-box input[type="submit"] {

        font-size: 1.2rem;
        width: 40%;
    }
    a.button{
        background-color: black;
        color: white;
        font-size: 1rem;
        border-radius: 20px;
        /* justify-items: left; */
        width: 40%;
        padding-left: 6%;
        /* margin-top: 20px; */  
    }
}
@media screen and (min-width: 768px)and (max-width: 1200px) {
    .Main-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        margin-bottom: 20px;
    }
    .top-header ul li {
        font-weight: 200;
        font-size: 1rem;
        text-align: center;

    }

    .top-nav-left-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single-search input {
        padding: 5px;
    }
    .container {
        position: absolute;
        width: 100%;
        height: auto;
    
    }
    
    .welcome {
        height: auto;
        font-size: 2rem;
    }
    
    p {
        display: flex;
        font-size: 1.1rem;
        font-weight: bold;
    
    }
    
    .login-box {
        /* position: absolute; */
        width: 70%;
        background-color: white;
        /* color: white; */
        margin: 1px auto;
    
    }
    
    .login-box input {
        width: 80%;
    }
    
    .login-box input[type="submit"] {

        font-size: 1.2rem;
        width: 40%;
    }
    a.button{
        background-color: black;
        color: white;
        font-size: 1rem;
        border-radius: 20px;
        /* justify-items: left; */
        width: 30%;
        padding-left: 6%;
        /* margin-top: 20px; */  
    }
}