* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    align-items: center;
}
.top-header {
    width: 100%;
    background: #14164A;
    padding: 25px;
}
.mobile-logo {
    display: none;
}

.top-header ul {
    display: flex;
    padding: 6px;
    list-style-type: none;
    justify-content: space-between;
}

.top-header ul li {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

}
.top-nav-left-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-nav-left-links a {
    text-decoration: none;
    color: white;
}
.single-search input {
    padding: 10px 5px;
    border-radius: 20rem;
    border: none;
}


input:focus {
    outline: none;
}
.content {
    width: 50%;
    height: auto;
    background-color: #FFFEFE;
    float: right;
    margin-right: 135px;
}

.wrap {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.text {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.content img {
    width: 66px;
    height: 95px;
    margin-top: 27px;
}

.content h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 10px;
}

.content p {
    font-size: 17px;
    margin-top: -20px;
    margin-bottom: 40px;
}

.content a {
    text-decoration: none;
}

.top-review h2 {
    font-size: 25px;
    margin-left: 125px;
    margin-bottom: -15px;
    padding-bottom: 20px;
}

.top-review a {
    font-size: 16px;
    margin-left: 125px;
}

.user {
    display: flex;
    align-items: center;
    margin-left: 125px;
}

.username {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 15px;
}

.avatar img {
    width: 32px;
    height: 30px;
    margin-top: -10px;
}

.timestamp {
    margin-top: 5px;
    margin-left: 125px;
}

.five-stars {
    font-size: 20px;
    margin: -20px 125px 20px;

}

.marked {
    color: #F8D937C9;
}

.review {
    margin-left: 125px;
}



.sidebar {
    width: 330px;
    height: 500px;
    background-color: #FFFEFE;
    margin-left: 135px;
}

.sidebar h1 {
    display: flex;
    justify-content: center;
    font-family: 'Jaldi', sans-serif;
    font-size: 30px;
    margin-bottom: -5px;
}

.sidebar p {
    font-family: 'Jaldi', sans-serif;
    color: #676666;
    margin-top: 2px;
    margin-left: 60px;
}


.rating {
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 5px;
}

.marked {
    color: orange;
}

.unmarked {
    color: #676666FC;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.rating-text {
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
    margin-top: -5px;
}

.side {
    font-family: 'Jaldi', sans-serif;
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
    margin-left: -25px;
}

.right {
    text-align: right;
}

.row:after {

    display: table;
    clear: both;
}

.bar-container {
    width: 80%;
    height: auto;
    margin-left: 40px;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 10px;
}

.bar-5 {
    width: 79%;
    height: 18px;
    border-radius: 10px;
    background-color: #F8D937;
}

.bar-4 {
    width: 25%;
    height: 18px;
    border-radius: 10px;
    background-color: #F8D937;
}

.bar-3 {
    width: 14px;
    height: 18px;
    border-radius: 10px;
    background-color: #F8D937;
}

.bar-2 {
    width: 0%;
    height: 18px;
    border-radius: 10px;
    background-color: #F8D937;
}

.bar-1 {
    width: 0%;
    height: 18px;
    border-radius: 10px;
    background-color: #F8D937;
}

.btn button {
    width: 50%;
    height: auto;
    background: #FFFEFE;
    border: 1px solid #B8B5B5FC;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 20px;
    margin-top: 16px;
    margin-left: 90px;
}

.clear {
    clear: both;
}
@media (max-width:767px) {
    .Main-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        margin-bottom: 20px;
    }
    .top-header ul li {
        font-weight: 200;
        font-size: 1rem;
        text-align: center;

    }

    .top-nav-left-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single-search input {
        padding: 5px;
    }
    .content {
        width: 50%;
        height: auto;
        background-color: #FFFEFE;
    }
    
    .wrap {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }
    
    .text {
        font-size: 2rem;
        padding-top: 20px;
        padding-left: 20px;
    }
    
    .content img {
        width: 100%;
        height: auto;
    }
    
    .content h1 {
        font-weight: 400;
        font-size: .8rem;
       
    }
    
    .content p {
        font-size: 1rem;

    }
    
    .top-review h2 {
        font-size: 1.5rem;
    }
    
    .top-review a {
        font-size: 1rem;
        margin-left: 125px;
    }
    
    .user {
        display: flex;
        align-items: center;
        margin-left: 125px;
    }
    
    .username {
        font-size: 1rem;
        padding-top: 20px;
        padding-left: 15px;
    }
    
    .avatar img {
        width: 50%;
        height: auto;
        margin-top: -10px;
    }
    
    .five-stars {
        font-size: 1.2rem;
       
    
    }
    .review {
        margin-left: 30%;
    }
    
    
    
    .sidebar {
        width: 100%;
        height: auto;
    }
    
    .sidebar h1 {
        display: block;
        justify-content: center;
        font-size: 1.5rem;
        margin-bottom: -5px;
    }
    
    .sidebar p {

        color: #676666;
        margin-top: 2px;
        margin-left: 60px;
    }
    
    
    .rating {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        gap: 5px;
    }
    
    .tab {
        display: inline-block;
        margin-left: 40px;
    }
    
    .rating-text {
        font-family: 'Jaldi', sans-serif;
        font-size: 1rem;
        margin-top: -5px;
    }
    
    .side {
        font-family: 'Jaldi', sans-serif;
        float: left;
        width: 15%;
        margin-top: 10px;
    }
    
    .middle {
        float: left;
        width: 70%;
        margin-top: 10px;
        margin-left: -25px;
    }
    
    .right {
        text-align: right;
    }
    
    .row:after {
    
        display: table;
        clear: both;
    }
    
    .bar-container {
        width: 80%;
        height: auto;
        margin-left: 40px;
        background-color: #D9D9D9;
        text-align: center;
        border-radius: 10px;
    }
    
    .bar-5 {
        width: 79%;
        height: 18px;
        border-radius: 10px;
        background-color: #F8D937;
    }
    
    .bar-4 {
        width: 25%;
        height: 18px;
        border-radius: 10px;
        background-color: #F8D937;
    }
    
    .bar-3 {
        width: 14px;
        height: 18px;
        border-radius: 10px;
        background-color: #F8D937;
    }
    
    .bar-2 {
        width: 0%;
        height: 18px;
        border-radius: 10px;
        background-color: #F8D937;
    }
    
    .bar-1 {
        width: 0%;
        height: 18px;
        border-radius: 10px;
        background-color: #F8D937;
    }
    
    .btn button {
        width: 50%;
        height: auto;
        background: #FFFEFE;
        border: 1px solid #B8B5B5FC;
        box-shadow: 0px 4px 4px #00000040;
        border-radius: 20px;
        margin-top: 16px;
        margin-left: 90px;
    }
    
    
}