* {
    margin: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
}

.top-header {
    width: 100%;
    background: #14164A;
    padding: 25px;
}

.mobile-logo {
    display: none;
}

.top-header ul {
    display: flex;
    padding: 6px;
    list-style-type: none;
    justify-content: space-between;
}

.top-header ul li {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

}

.top-nav-left-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-nav-left-links a {
    text-decoration: none;
    color: white;
}


.single-search input {
    padding: 10px 5px;
    border-radius: 20rem;
    border: none;
}

input:focus {
    outline: none;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.form-wrapper #search {
    width: 692px;
    height: 30px;
}

.form-wrapper #submit {
    width: 63px;
    height: 30px;
    background-color: #676666FC;
    border: none;
    cursor: pointer;
}

.links a {
    display: flex;
    font-family: 'Jaldi', sans-serif;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 22%;
    color: #5359EF;

}

.row-1 {
    display: flex;
    margin-top: 20px;
    margin-left: 19%;
}

.column {
    width: 11%;
    margin-top: 117px;
    margin-left: 40px;
}

.column img {
    width: 120px;
    height: 200px;
}

.page {
    float: right;
    font-family: 'Jaldi', sans-serif;
    font-size: 13px;
    margin-top: 10px;
    margin-right: 22%;

}
@media (max-width:767px) {
    .Main-logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        margin-bottom: 20px;
    }
    .top-header ul li {
        font-weight: 200;
        font-size: 1rem;
        text-align: center;

    }
    .top-nav-left-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single-search input {
        padding: 5px;
    }
    .form-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    
    
    .form-wrapper #search {
        width: 100%;
    }
    
    .form-wrapper #submit {
        width: 100%;
    }
    
    .links a {
        display: flex;
        font-size: 1rem;
    
    }
    
    .row-1 {
        display: flex;
        flex-direction: column;
       width: 100%;
       height: auto;
    }
    
    .page {
        font-size: 1rem;
    
    }
    
}
@media screen and (min-width:768px)and (max-width:1200px) {
    .Main-logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        margin-bottom: 20px;
    }
    .top-header ul li {
        font-weight: 200;
        font-size: 1rem;
        text-align: center;

    }
    .top-nav-left-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single-search input {
        padding: 5px;
    }
    .form-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    
    
    .form-wrapper #search {
        width: 100%;
    }
    
    .form-wrapper #submit {
        width: 100%;
    }
    
    .links a {
        display: flex;
        font-size: 1rem;
    
    }
    
    .row-1 {
        display: flex;
        flex-direction: column;
       width: 100%;
       height: auto;
    }
    
    .page {
        font-size: 1rem;
    
    }
}